<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <h1>Referencias</h1>
	<br/>
  <h2>
    <a href="http://hashrocket.com/blog/posts/rails-quick-tips-random-records">Obtendo usuários randomicamente para o carousel</a>
  </h2>

</div>


