<% provide(:title, "Contato") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Projeto Final de Topicos</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
		<div class="center jumbotron">
			<h1>Contato</h1>
	<br/>
		  <h3>
		    Adriano Cesar Bocoli - a11002@bcc.unifal-mg.edu.br
		  </h3>
		  <h3>
		    Anderson Luis dos Santos Selenguini - a11035@bcc.unifal-mg.edu.br
		  </h3>
</div>
  </body>
</html>
