<h1>Usuários </h1>

<ul class="users">
  <% if @usuarios.empty? %>
  	<script language="JavaScript">
   	alert("<%= @popup_message %> Nenhum usuário encontrado!!");
  	</script>
	<% end %>

  <% @usuarios.each do |usuario| %>
    <li>
      <%= link_to usuario.nomeCompleto, usuario %>
    </li>
  <% end %>
</ul>
